@import "vendor";

.VerifyMainPage {

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 40vh;
  }

  &Form {
    //min-width: auto;
    //max-width: auto;

    max-width: 500px;
    min-width: 500px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    &__content-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      padding: 0 25px;
      color: $textColor1;
    }
    &__inputs-wrapper {
      display: flex;
      width: 100%;
      margin-bottom: 15px;
      flex-wrap: wrap;
    }
    &__btn-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 15px;

      button {
        margin-bottom: 10px;
      }

      button:last-child {
        margin-bottom: 0;
      }
    }
    &__action-btn {
      max-width: 0;
      min-width: 100%;
      color: #FFF;
      font-weight: bold;
      background: #363636;
    }
  }
}