//$textColor1: #B6B6B6;
//$textColor2: #616161;
//$textColor3: #F7F7F7;
//$textColor4: #4AADDE;
//$textColor5: #A5A5A5;
//$btnBkgColor1: #363636;
//$borderColor1: #DFDFDF;
//$borderColor2: #C6C6C6;
//
//$adminSubcategoryBkgColorActive: #1B1F26;
//$adminSubcategoryBkgColor: #232831;
//$adminCategoryBkgColor: #474F5F;
//$adminCategoryBkgColorActive: #232831;
//$adminTopBarBkg: #282D37;
//$iconColor: $textColor3;
//$iconColorActive: #5FE734;
//
//$fontFamily1: "Lucida Grande", sans-serif;
//
//.modal-dialog {
//  width: 100%;
//  min-width: 500px;
//  margin: 30px auto;
//}
//
//// ================ MIXINIS ===============
//@mixin transitionHeight($time) {
//  -webkit-transition: height $time ease-in-out;
//  -moz-transition: height $time ease-in-out;
//  -o-transition: height $time ease-in-out;
//  transition: height $time ease-in-out;
//}

//@import "./../../../../signin/index";

//.modal-dialog {
//  width: 100%;
//  min-width: 500px;
//  margin: 30px auto;
//}

.form-wrapper {
  max-width: 500px;
  min-width: 500px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}



