<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./template/head.ejs %>
    <link href="/build/css/signin.css" rel="stylesheet">
</head>
<body>
<div id="fb-root"></div>
<% include ./template/facebook.ejs %>
<noscript>You need to enable JavaScript to run this app.</noscript>

<div id="root"></div>
<script type="text/javascript" src="/build/js/signin.js"></script>
</body>
</html>